/*==========================================*/
/*                                          */
/*        T A B L E   E L E M E N T S       */
/*                                          */
/*==========================================*/

/* .gridContainer__table {
    display: grid;
    grid-template-columns: repeat(20, 0.8fr);
    grid-template-columns: minmax(150px, 1.33fr) minmax(150px, 2.33fr);
    grid-template-rows: repeat(5, 0.8fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
} */
* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

table {
    /* min-width: 98vw; */
    /* width: auto; */
    flex: 2;
    display: grid;
    border-collapse: collapse;
    border-spacing: 5px;
    background-color: white;
    /* These are just initial values which are overriden using JavaScript when a column is resized */
    grid-template-columns:
        minmax(20px, 0.2fr)
        /* 1 */
        minmax(20px, 0.2fr)
        /* 2 */
        minmax(300px, 3fr)
        /* 3 */
        minmax(80px, 0.8fr)
        /* 4 */
        minmax(80px, 0.8fr)
        /* 5 */
        minmax(80px, 0.8fr)
        /* 6 */
        minmax(80px, 0.8fr)
        /* 7 */
        minmax(80px, 0.8fr)
        /* 8 */
        minmax(80px, 0.8fr)
        /* 9 */
        minmax(80px, 0.8fr)
        /* 10 */
        minmax(80px, 0.8fr)
        /* 11 */
        minmax(80px, 0.8fr)
        /* 12 */
        minmax(80px, 0.8fr)
        /* 13 */
        minmax(80px, 0.8fr)
        /* 14 */
        minmax(80px, 0.8fr)
        /* 15 */
        minmax(80px, 0.8fr)
        /* 16 */
        minmax(80px, 0.8fr)
        /* 17 */
        minmax(80px, 0.8fr)
        /* 18 */
        minmax(80px, 0.8fr)
        /* 19 */
        minmax(80px, 0.8fr);
        /* 20 */
}

thead,
tbody,
tr {
    display: contents;
}

thead {
    font-family: 'CoreSansDS35Regular';
    font-size: 1.125rem;
    vertical-align: middle;
}

th,
td {
    padding: 10px 0px;
    overflow: hidden;
    text-align: center;
    /* text-overflow: ellipsis; */
    /* white-space: nowrap; */
}

.text-long {
    text-align: left;
    padding-left: 5px;
}

th {
    position: sticky;  /* Если надо чтобы th прилипала к верху */
    top: 0;
    background-color: #6B727B;
    /* text-align: left; */
    border-right: 1px dotted white;
    font-weight: normal;
    font-size: 1.1rem;
    color: white;
    /* position: relative;  Если не надо чтобы th прилипала к верху */
}

th:first-child {
    padding-left: 5px;
}

th:last-child {
    border: 0;
}

.resize-handle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: red;
    opacity: 0;
    width: 4px;
    cursor: col-resize;
}

.resize-handle:hover,
/* The following selector is needed so the handle is visible during resize even if the mouse isn't over the handle anymore */
.header--being-resized .resize-handle {
    opacity: 0.5;
}

th:hover .resize-handle {
    opacity: 0.3;
}

td {
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    color: #808080;
}

tr:nth-child(even) td {
    background: #f8f6ff;
}