.gridContainer {grid-template-rows: min-content;}
.gridContainer, .gridContainer div {}
.local-grid { grid-column: 1 / -1; }

.local-grid header.header-top {
    display: flex;
    /* grid-area: 1 / 1 / 2 / 3; */
}
main {padding: 0px; align-items: start;}
.item-1 {
    padding: 8px 0;
}


.item-2 {
    padding: 8px 0 0 0;
    flex-direction: column;
    display: flex;
    min-width: 575px;
}

.inputBlock input[type='checkbox'] { /* Внутренние прямоугольники - По координатам */
    margin:0 10px 0 30px;
}

.section-sub__grid--5x2 .checkbox label {
padding-left: 4px;
}

.section-sub {

}
/* ================================================================= */
/* Настройка grid 5x2 для правой секции sub Ширина-Высота-количество */
/* ================================================================= */
.section-sub {
    margin-top: 1.3rem;
}

.section-sub__grid--5x2 {
    display: grid;
    /* background-color: green; */
    /* grid-template-columns: min-content 1.1fr 1.1fr 0.5fr 0.7fr; */
    grid-template-columns: min-content 1.2fr 1.6fr 0.9fr 0.8fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0.1rem;
    /* margin-top: 0.5rem;
    margin-bottom: 0.75rem; */
}

.section-sub__grid--5x2 div {
    /* background-color: DodgerBlue; */
}

/* Нулевой padding для всех labels в секции  */
.section-sub__grid--5x2 label {
    /* padding: 0 0.2rem; */
    /* padding-right: 0.2rem;
    padding-left: 0.2rem; */
}

/* Added пробел после цифры в таблице */
.nmbr label {
    padding-right: 0.5rem;
}

/* Added пробел для ячейки Всего */
.sxth label.summ {
    padding: 0 0.1rem;
}

/* Нулевой блок Грида 5x2 - цифра */
.section-sub__grid--5x2__nmbr {
    grid-area: 1 / 1 / 2 / 2;
    justify-self: left;
}

/* Первый блок - Ширина */
.section-sub__grid--5x2 .frst {
    grid-area: 1 / 2 / 2 / 3;
    justify-self: left;
    /* padding-left: 0.2rem; */
}

/* Второй блок - Высота */
.section-sub__grid--5x2 .scnd {
    grid-area: 1 / 3 / 2 / 4;
    justify-self: center;
}

/* Третий блок - Select с выпадающим списком */
.section-sub__grid--5x2 .thrd {
    /* display: grid; */
    grid-area: 1 / 4 / 2 / 5;
    justify-self: center;
    padding: 0 5px;
}

/* .section-sub__grid--5x2 select {
    width: 6em;
} */
/* checkbox "В ряд" */
.section-sub__grid--5x2 .checkbox {
    grid-area: 1 / 5 / 2 / 6;
    justify-self: center;
}

/* Четвертый блок - Количество по вертикали */
.section-sub__grid--5x2 .frth {
    grid-area: 2 / 2 / 3 / 3;
}

/* Пятый блок - Количество по горизонтали - занимает 2 ячейки */
.section-sub__grid--5x2 .ffth {
    grid-area: 2 / 3 / 3 / 5;
    justify-self: left;
    padding-left: 2rem;
}

/* Пятый А блок - Количество по горизонтали - занимает 2 ячейки */
.section-sub__grid--5x2 .ffth1 {
    grid-area: 2 / 4 / 3 / 5;
    justify-self: right;
    padding-left: 0;
}

/* Шестой блок - Всего */
.section-sub__grid--5x2 .sxth {
    grid-area: 2 / 5 / 3 / 6;
}

/* Двухстрочные Labels по центру блока, ориентация текста по правой стороне*/
.section-sub__grid--5x2 .frth,
.section-sub__grid--5x2 .ffth {
    align-items: center;
    line-height: 0.75rem;
    text-align: end;
}

/* Выравнивание блоков по центру между соседними */
.section-sub__grid--5x2 .scnd,
.section-sub__grid--5x2 .ffth {
    /* padding-right: 11px; */
}

/* Ориентация по правой стороне (вторая и последняя ячейка во сторой строке) */
.section-sub__grid--5x2 .frth { justify-self: end; }

.section-sub__grid--5x2 .sxth {}
.section-sub__grid--5x2 .sxth label {}

.section__main {
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    justify-content: space-between;
    margin: 9px 0px 0px;
    width: 100%;
    padding: 0 8px;
    /* max-height: 50px; */
    align-items: start;
}

.status-bar {
    display: grid;
    grid-area: 4 / 1 / 5 / 3;
    align-self: start;
}