.gridContainer { grid-template-columns: 1fr;}
.local-grid {
    display: grid;
    grid-column: 1 / -1;
    grid-template-rows: [header] 32px [search] 35px [header-table] 0px [row-table] auto [footer] 25px;
}

header.header-top { grid-row: header; }
.section__search { grid-row: search; }

.table table thead tr th { grid-row: header-table; }

.table { grid-row: row-table; }

footer { grid-row: footer; }


header.header-top, header.header-top div {
    /* border: none !important; */
    color: #fff;
}

/* СЕКЦИЯ MAIN С КДАССОМ TABLE (НЕ САМА ТАБЛИЦА) */
.local-grid main.table {
    /* position: absolute; /*- ЕСЛИ РАСКОММЕНТИРОВАТЬ, ТАБЛИЦА РАСТЯНЕТСЯ НА ВСЮ ШИРИНУ ЭКРАНА*/
    top: 60px;
    left: 0;
    width: 100%;
    font-size:14px;
    text-align: center;
    overflow: auto;
}

/********** ПОИСКОВАЯ СТРОКА **************/
.section__search {
    display:grid;
    position: sticky;
    position: -webkit-sticky; /* Safari */ 
    top:0;
    background-color: var(--color-raven);
    padding:5px 0;
    /* height: 35px; */
    align-items: start;
    z-index:1;
}
.section__search div * {height: 25px;} /* высота всех элементов внутри строки поиска */
.section__search, .section__search label, .section__search input {display:flex;}
.section__search label {font-size: 15px; align-self:center;}
/* переделка wide-100 в search */

.section__search .dropdown {
    margin: 0 5px 0 5px;
    height:  21px;
}

.section__search input, .dropdown input {
    margin: 0 !important;
}
.section__search {flex: 1 0 auto;}
/**************************/

table {
    grid-row: row-table; /* строчка грида, которую занимает таблица */
    width: 100%;
    /*border-collapse: collapse; /* Убираем границы */
    /* box-shadow: 0px 5px 20px rgba(0,0,0,.5); ТЕНЬ - только когда таблица растянута на всю ширину (20 строка) */
}

table caption { text-transform: uppercase; font-size: 28px; font-weight: bold; color: #fff; padding: 10px 0;} /* Название таблицы */
thead tr th {  /* прилипающая Строка заголовков */
    position: sticky;
    position: -webkit-sticky; /* Safari */ 
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    background-clip: padding-box;
    top: 30px;
    border-right: 1px dotted #6B727B;
    background-color: #828a92;
    font-weight: normal;
    color: white;
    height: 50px;
    max-height: 50px;
    min-height: 50px;
    border-collapse: collapse;
}

th:first-child {
    padding-left: 5px;
}

th:last-child {
    border: 0;
}
tr {
    height: 25px;
}
td {
    color: #000;
    background-color: #97A1AA;
    background-clip: padding-box;
}
tr td:last-child {padding-right:3px;}
tr td:first-child {padding-left:3px;}
tr:nth-child(even) td {
    background: #a4afb9;
}

/* если поставить не background-color, а background, границы у ячеек c разным цветом начинают иметь разную толщину */
tr:nth-child(even) td {
    background-color: #a4afb9;
}