/* @media (max-width: 480px){
    .container {
     width: calc(100% - 50px);
     border: 1px solid black;
     margin: 50px auto;
     height: auto;
     position: relative;    
     border-radius: 2px;
     padding: 10px;
     padding-top: 25px;
 }  */

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0;
    /* padding: 0; */
    /* box-sizing: border-box; */
}

#canvas {
    /* width:  100%; */
	border: 1px solid black;
}
